body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212; /* Dark background for the whole page */
  color: #e1e1e1; /* Light text color for better readability in dark mode */
}

.App {
  height: 100%;
}

/* - Top layout Components  */
.root-container {
  display: flex;
  gap: 1rem;
  position: relative;
}


input[type="text"] {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #242424; /* Dark grey background for input field */
  border: 1px solid #313535; /* Slightly lighter border for contrast */
  color: #e1e1e1; /* Light text color for input */
  font-size: 16px;
}

textarea:focus,
input:focus {
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #0d6efd; /* Blue background for the send button */
  color: white; /* White text color */
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Darker blue on hover for visual feedback */
}

.source-btn {
  text-decoration: underline;
  margin-top: 10px;
  cursor: pointer;
}

.modal-form-wrapper {
  display: flex;
  gap: 10px;
}

